<form>
  <ol>
    <li>
    <label for='title'>
      Title
    </label>
    <input type='text' id='title' name='collage[title]' />
    </li>
    <li>
    <input type='submit' class='button create' value='Create'>
    </li>
  </ol>
</form>
