<h1>
  {{title}}
</h1>
<div id='collage_photos' style='margin-left: auto; margin-right: auto'></div>
<div id='toolbox' style='clear: both'></div>
<div id='filelist' style='position:absolute; top: 10px; right: 10px'>
<a id='pickfiles' href='#'>choose files</a>
<br />
</div>
